{% extends 'layout_main.html' %}

{% block title %}Create request{% endblock %}

{% block content %}
    <h2>Create</h2>

    <form action="/Request/Create" method="post">
        <div class="create-req-form">
            <h4>Create request</h4>
            <hr />

            <div>
                <label class="create-req-label" for="site-uri">Site uri</label>
                <div>
                    <input class="create-req-input" data-val="true" data-val-required="The WebUri field is required." id="site_uri" name="site_uri" type="text" value="{{ site_uri }}" />
                </div>
                <span class="create-req-label-error" data-valmsg-for="WebUri" data-valmsg-replace="true">{{ site_uri_errors }}</span>
            </div>

            <!--<div>
                <label class="create-req-label" for="mode">Screen-shotting mode</label>
                <div>
                    <select class="create-req-input" data-val="true" data-val-required="The ScreenShotingMode field is required." id="mode" name="ScreenShotingMode">
                        <option value="">Choose please</option>
                        <option value="0" {% if mode == 0 %} selected {% endif %}>One page</option>
                        <option value="1" {% if mode == 1 %} selected {% endif %}>Whole page subtree</option>
                    </select>

                    <span data-valmsg-for="ScreenShotingMode" data-valmsg-replace="true"></span>
                </div>
            </div>-->

            <div class="create-req-but">
                <input type="submit" value="Create" />
            </div>
        </div>
    </form>

    <div class="create-req-but">
        <a href="/Request">Back to List</a>
    </div>
{% endblock %}
